#megamenu-mainmenu div.mainmenu-item {
    display: inline-block;
    padding: 0;
    margin: 0;
}
#megamenu-mainmenu div.mainmenu-item {
    list-style-type: none;
    cursor: pointer;
    padding: 5px 10px;
    background-color: #ddd;
}
#block-megamenu-framework-megamenu-framework {
    position: relative;
}
#block-megamenu-framework-megamenu-framework .megamenu-pulldown-wrapper {
    z-index: 999;
    display: none;
    position: absolute;
    background-color: #ddd;
    padding: 10px;
    width: 100%;
}
#block-megamenu-framework-megamenu-framework .megamenu-pulldown-wrapper.columns-0 {
    left: -9999em;
}
#block-megamenu-framework-megamenu-framework .megamenu-pulldown-wrapper .column {
    float: left;
}